<div>
  <div style="display: inline;">
    <div style="display: flex; justify-content: space-between;">
      <div>Tipo de evento:</div>
      <div class="dropdown">
        <!-- <button class="dropbtn" [(ngModel)]="selectedState" ngDefaultControl>
          {{selectedState}}
        </button> -->
        <button class="dropbtn">
          testeTipoDeEvento
        </button>
        <div class="dropdown-content">
          <!-- <tr (click)="itemStateClick(location)" class="dropdown-item" *ngFor="let location of locationStateList">
            <td>{{location}}</td>
          </tr> -->
          <tr class="dropdown-item">
            <td>item 1</td>
          <tr class="dropdown-item">
            <td>item 2</td>
          <tr class="dropdown-item">
            <td>item 3</td>
          <tr class="dropdown-item">
            <td>item 4</td>
          <tr class="dropdown-item">
            <td>item 5</td>
          </tr>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: space-between;">
      <div>Equipamento:</div>
      <div class="dropdown">
        <button class="dropbtn">
          testeequip
        </button>
        <div class="dropdown-content">
          <tr class="dropdown-item">
            <td>equip 1</td>
          <tr class="dropdown-item">
            <td>equip 2</td>
          <tr class="dropdown-item">
            <td>equip 3</td>
          </tr>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: space-between;">
      <div>Sexo:</div>
      <div class="dropdown">
        <button class="dropbtn">
          sexoEscolhido
        </button>
        <div class="dropdown-content">
          <tr class="dropdown-item">
            <td>masculino</td>
          <tr class="dropdown-item">
            <td>feminino</td>
          </tr>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: center;">
      <div class="buscar-button" style="display: flex; justify-content: center;">
        Buscar
      </div>
    </div>
  </div>

</div>