<div>
  <div style="display: inline;">
    <div style="display: flex; justify-content: space-between;">
      <div>Tipo de evento:</div>
      <div class="dropdown">
        <!-- <button class="dropbtn" [(ngModel)]="selectedState" ngDefaultControl>
          {{selectedState}}
        </button> -->
        <button class="dropbtn">
          -
        </button>
        <div class="dropdown-content">
          <!-- <tr (click)="itemStateClick(location)" class="dropdown-item" *ngFor="let location of locationStateList">
            <td>{{location}}</td>
          </tr> -->
          <tr class="dropdown-item">
            <td>Casamentos</td>
          <tr class="dropdown-item">
            <td>Esportes</td>
          <tr class="dropdown-item">
            <td>Newborn</td>
          <tr class="dropdown-item">
            <td>Festa de 15 anos</td>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: space-between;">
      <div>Equipamento:</div>
      <div class="dropdown">
        <button class="dropbtn">
          -
        </button>
        <div class="dropdown-content">
          <tr class="dropdown-item">
            <td>Cropped</td>
          <tr class="dropdown-item">
            <td>Drone</td>
          <tr class="dropdown-item">
            <td>Full frame</td>
          </tr>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: space-between;">
      <div>Sexo:</div>
      <div class="dropdown">
        <button class="dropbtn">
          -
        </button>
        <div class="dropdown-content">
          <tr class="dropdown-item">
            <td>Masculino</td>
          <tr class="dropdown-item">
            <td>Feminino</td>
          </tr>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: center;">
      <div class="buscar-button" style="display: flex; justify-content: center;" (click)="submitFilterRequest()">
        Filtrar
      </div>
    </div>
  </div>

</div>