<div class="card-holder" (click)="goToProfile(photographer.id)">

  <div class="profile-pic">
    <figure>
      <img [src]='thumb' alt="-foto-" style="width:100%; max-height: 250px; color: black">
    </figure>
  </div>
  <div class="profile-info">
    <div class="profile-title">
      {{photographer.name}}
    </div>
    <div class="profile-small-text">
      {{photographer.shortInfo}}
    </div>
    <div class="profile-divider">
      <hr>
    </div>
    <div class="profile-bio">
      {{photographer.bio}}
    </div>
  </div>
</div>