.card-holder{
  border: white;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 300px;
}

.profile-pic{
  background-color: red;
  height: 50%;
  width: 100%;
  border-radius: 10px;
}

.profile-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: blue;
  height: 50%;
  width: 100%;
  border-radius: 10px;
  padding-top: .4em;
}

.profile-title{
  font-size: 25px;

}

.profile-small-text{
  font-size: 12px;
}

.profile-divider{
  color: wheat;
}

.profile-bio{
  background-color: gray;
  width: 85%;
  font-size: 12px;
  max-height: 50px;
  overflow: hidden;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 85%;
  background-color:#FFFF00;
  height: 1px;
}
