<div class="card-holder">

  <div class="profile-pic">
profilePicture
  </div>

  <div class="profile-info">
    <div class="profile-title">
      Name
    </div>
    <div class="profile-small-text">
      ABOUT ME
    </div>
    <div class="profile-divider">
    <hr>
    </div>
    <div class="profile-bio">
      le bio Profile bio Profile bio Profile bio Profile bio Profile bioProfile bio Profile bio Profile bio Profile bioProfile bio Profile bio Profile bio Profile bio
      le bio Profile bio Profile bio Profile bio Profile bio Profile bioProfile bio Profile bio Profile bio Profile bioProfile bio Profile bio Profile bio Profile bio
    </div>
  </div>
</div>

