<div class="profile-banner-holder">
  <div class="left-block">
    <div class="breadcrumb-fitter">
      <div class="breadcrumb-text">
        início > resultado de busca > {{ photographer.name | lowercase }}
      </div>
    </div>

    <div class="profile-pic" *ngIf="hasPicture">
      <figure style="justify-content: flex-start; align-items: center; display: flex">
        <img [src]="thumb" alt="..." style="color: black"
          [ngStyle]="{'cursor':isProfileOwner ? 'pointer' : 'default' }" />
      </figure>
    </div>
    <div class="filter-button" *ngIf="!hasPicture" [ngStyle]="{'cursor':isProfileOwner ? 'pointer' : 'default' }">
      -foto-
    </div>
  </div>
  <div class="middle-block">
    <h2>
      {{ photographer.name | uppercase }}
    </h2>
    <h3>{{ photographer.phone ? photographer.phone : "-telefone-" }}</h3>
    <h3>{{ photographer.shortInfo ? photographer.shortInfo : "-info-" }}</h3>
    <h3>
      {{
      photographer.location?.locationCity
      ? photographer.location?.locationCity
      : "-cidade-"
      }}
    </h3>
  </div>
</div>