<div class="flex flex-column align-items-center  full-height">
  <div class="w-12 flex justify-content-center board-1-photographer">
    <div class="w-8">
      Exibindo fotógrafos em ...
  </div>
</div>
<div class="w-12 flex justify-content-center  board-2-photographer">
  <div class="w-8 pt-5 pb-5 flex flex-column align-items-center">
    <div class="filter-button">Filtrar</div>
    <div class="filtrar-wrapper">
      <app-photographer-card class="w-12 lg:w-4 p-2"></app-photographer-card>
      <app-photographer-card class="w-12 lg:w-4 p-2"></app-photographer-card>
      <app-photographer-card class="w-12 lg:w-4 p-2"></app-photographer-card>
      <app-photographer-card class="w-12 lg:w-4 p-2"></app-photographer-card>
      <app-photographer-card class="w-12 lg:w-4 p-2"></app-photographer-card>
      <app-photographer-card class="w-12 lg:w-4 p-2"></app-photographer-card>
      <app-photographer-card class="w-12 lg:w-4 p-2"></app-photographer-card>
    </div>
</div>
</div>
</div>

<!--  BASE DA TELA PRA REAPROVEITAR NA REFATORAÇÃO DE HOME E HEADER/FOOTER
<div class="flex flex-column align-items-center  full-height">
  <div class="w-12 flex justify-content-center board-1-photographer">
    <div class="w-8">
      Exibindo fotógrafos em ...
  </div>
</div>
<div class="w-12 flex justify-content-center  board-2-photographer">
  <div class="w-8 pt-5 pb-5 flex flex-column align-items-center">
    <div class="filter-button">Filtrar</div>
    <div class="filtrar-wrapper">
      <app-photographer-card class="w-12 lg:w-4 p-2"></app-photographer-card>
    </div>
</div>
</div>
</div> -->
