<div class="main-block">
  <!-- DADOS BÁSICOS -->
  <div class="sub-block">
    <div class="content-wrapper dados">
      <div class="dados-basicos-left">
        <div style="display: flex; flex-direction: column; ">
          <div class="flex p-3 pr-8" style="justify-content: flex-start">
            <div class="flex mr-5">TÍTULO:</div>
            <div class="flex"> Casamento de Roberto e Bela </div>
          </div>
          <div class="flex p-3 pr-8" style="justify-content: flex-start">
            <div class="flex mr-5">DATA:</div>
            <div class="flex"> 24/JAN/2023 </div>
          </div>
          <div class="flex p-3 pr-8" style="justify-content: flex-start">
            <div class="flex mr-5">LOCAL:</div>
            <div class="flex"> Rio de Janeiro RJ </div>
          </div>
          <div class="flex p-3 pr-8" style="justify-content: flex-start">
            <div class="flex mr-5">TIPO DE EVENTO:</div>
            <div class="flex"> Casamento </div>
          </div>
          <div class="flex p-3 pr-8" style="justify-content: flex-start">
            <div class="flex mr-5">CLIENTE:</div>
            <div class="flex"> Ricardo </div>
          </div>
        </div>
      </div>
      <div class="dados-basicos-right">
        <div style="display: flex; flex-direction: column;">
          <div class="flex p-3 pr-8" style="justify-content: flex-start">
            <div class="flex mr-5">AVALIAÇÃO:</div>
            <div class="flex">
              5/5
            </div>
          </div>
          <div class="flex p-3 pr-8" style="justify-content: flex-start; ">
            <div class="flex mr-5">"Profissionalismo e qualidade do trabalho entregue. Adorei, recomendarei para amigos
              e conhecidos!"</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-block">
    <div class="content-wrapper dados">
      <div class="dados-basicos-left">
        <div style="display: flex; flex-direction: column; ">
          <div class="flex p-3 pr-8" style="justify-content: flex-start">
            <div class="flex mr-5">TÍTULO:</div>
            <div class="flex"> Casamento de Rafael e Ana </div>
          </div>
          <div class="flex p-3 pr-8" style="justify-content: flex-start">
            <div class="flex mr-5">DATA:</div>
            <div class="flex"> 21/AGO/2023 </div>
          </div>
          <div class="flex p-3 pr-8" style="justify-content: flex-start">
            <div class="flex mr-5">LOCAL:</div>
            <div class="flex"> Rio de Janeiro, RJ </div>
          </div>
          <div class="flex p-3 pr-8" style="justify-content: flex-start">
            <div class="flex mr-5">TIPO DE EVENTO:</div>
            <div class="flex"> Casamento </div>
          </div>
          <div class="flex p-3 pr-8" style="justify-content: flex-start">
            <div class="flex mr-5">CLIENTE:</div>
            <div class="flex"> Rafael </div>
          </div>
        </div>
      </div>
      <div class="dados-basicos-right">
        <div style="display: flex; flex-direction: column;">
          <div class="flex p-3 pr-8" style="justify-content: flex-start">
            <div class="flex mr-5">AVALIAÇÃO:</div>
            <div class="flex">
              5/5
            </div>
          </div>
          <div class="flex p-3 pr-8" style="justify-content: flex-start; ">
            <div class="flex mr-5">"Chegou antes da hora e foi extremamente atencioso e profissional. Recomendo."</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>