label {
  display: block;
  margin-top: 10px;
  color: white;
  font-size: 1.4rem;
}

.holder {
  max-width: 30vw !important;
  min-width: 300px !important;
  padding: 40px 40px;
  background: rgba(0, 0, 0, 0);
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
}


.form-control{
  border-radius: 9px;
  background-color: rgb(151, 151, 151);
  color:black;
  font-weight: bold;
  border-width: 2px;
  border-color: black;
}

.btn{
  background-color: green;
  border-color: green;
  border: none;
  border-radius: 9px;
}

.btn:hover{
  background-color: rgb(3, 75, 3);
}

.invalid-form{
  font-style: italic;
}
