/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  /* padding-top: 2vw; Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #4E096F;
  margin: auto;
  padding: 0;
  border-radius: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  max-width: 1000px;
  min-width: 50px;
  animation-duration: 0.7s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:0; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:0px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 1em 2em;
  color: white;
}

.modal-body {
  padding: 1em 2em;
  color: white}

.modal-footer {
  color: white;
}
