<div class="flex flex-column align-items-center full-height">
  <div class="w-12 flex justify-content-center board-1-photographer">
    <div class="w-8">
      <app-profile-banner
        *ngIf="gotPhotographer"
        [photographer]="photographer"
      ></app-profile-banner>
    </div>
  </div>
  <div class="w-12 flex justify-content-center board-2-photographer">
    <div class="w-10 md:w-8 pt-5 pb-5 m-3 flex flex-column align-items-center">
      <div style="display: flex; flex-wrap: wrap; align-items: center">
        <app-board-user
          *ngIf="isProfileOwner"
          [header]="'Adicionar foto à galeria'"
          style="z-index: 2"
        >
          <div activator>
            <div
              class="filter-button"
              style="background-color: #0d99ff; z-index: 3"
            >
              +
            </div>
          </div>
          <app-upload-image></app-upload-image>
        </app-board-user>

        <div class="selector">
          <div
            (click)="displayStatus = 'GALERIA'"
            class="filter-button"
            [ngStyle]="{
              'background-color':
                displayStatus === 'GALERIA' ? '#4E096F' : 'black'
            }"
          >
            <div>GALERIA</div>
          </div>
          <div
            (click)="displayStatus = 'ENTREGAS'"
            class="filter-button"
            [ngStyle]="{
              'background-color':
                displayStatus === 'ENTREGAS' ? '#4E096F' : 'black'
            }"
          >
            <div>ENTREGAS</div>
          </div>
          <div
            (click)="displayStatus = 'DETALHES'"
            class="filter-button"
            [ngStyle]="{
              'background-color':
                displayStatus === 'DETALHES' ? '#4E096F' : 'black'
            }"
          >
            <div>DETALHES</div>
          </div>
        </div>
      </div>
      <div *ngIf="displayStatus == 'GALERIA'" class="filtrar-wrapper w-12">
        <app-image-gallery-card
          class="w-12 md:w-6 lg:w-4 p-2"
          *ngFor="let image of imageList"
          [image]="image"
        ></app-image-gallery-card>
      </div>
      <div *ngIf="displayStatus == 'ENTREGAS'" class="filtrar-wrapper w-12">
        ENTREGAS
      </div>
      <div *ngIf="displayStatus == 'DETALHES'" class="filtrar-wrapper w-12">
        <app-detalhes-card
          [photographer]="photographer"
          style="width: 100%"
        ></app-detalhes-card>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong> Profile
    </h3>
  </header>
  <p>
    <strong>Token:</strong>
    {{ currentUser.accessToken.substring(0, 20) }} ...
    {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
  </p>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <strong>Roles:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template> -->
