<div class>
  <div class="board-1-home bg-blue white-border text-white flex flex-wrap align-items-center justify-content-center">
    <div class="text-white w-8" style="height: inherit;">
      <div class="flex justify-content-between flex-wrap max-w-full" style="height: inherit;">
        <div class="flex align-items-center w-6 " style="height: inherit;">
          <h2 class="cta"> Encontre seu fotógrafo aqui, no fotografo.com.vc</h2>
        </div>
        <div class="flex align-items-center justify-content-end w-6" style="height: inherit;">

          <div class="align-items-center ">
            <div class="">
              <app-board-user class="inline-block" [header]="'Selecione a cidade'">
                <div activator>
                  <div class="sel-cidade inline-block mr-1">
                    Selecionar cidade
                  </div>
                </div>
              <h1>Pau no seu cu</h1>
              </app-board-user>
              <div class="botao-buscar inline-block">
                Buscar
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class>
  <div class="board-2-home bg-purple white-border text-white flex flex-wrap align-items-center justify-content-center">
    <div class="text-white w-8" style="height: inherit;">
      <div class="flex justify-content-between flex-wrap max-w-full" style="height: inherit;">
        <div class="flex align-items-center w-5" style="height: inherit;">

          <div class="inline-block mr-1">
            <img src="../../assets/img/home-1.png">
          </div>

        </div>
        <div class="flex align-items-center w-7" style="height: inherit;">

          <div class="card-container ">
            <div class="block font-bold text-center ">
              <p class="huge-text m-0"> Encontre fotógrafos perto de você.</p>
            </div>
            <div class="block font-bold text-center pt-2">
              <p class="not-so-huge-text m-0"> BASTA INFORMAR SUA CIDADE NO CAMPO DE BUSCA ACIMA.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class>
  <div class="board-2-home bg-purple white-border text-white flex flex-wrap align-items-center justify-content-center">
    <div class="text-white w-8" style="height: inherit;">
      <div class="flex justify-content-between flex-wrap max-w-full" style="height: inherit;">

        <div class="flex align-items-center w-7" style="height: inherit;">

          <div class="card-container ">
            <div class="block font-bold text-center  m-0">
              <p class="huge-text m-0"> Filtre resultados conforme seu interesse.</p>
            </div>
            <div class="block font-bold text-center pt-2 m-0">
              <p class="not-so-huge-text  m-0"> APÓS INFORMAR SUA CIDADE, FILTRE OS RESULTADOS CONFORME
                SEU INTERESSE: FESTA, CASAMENTO, ESTÚDIO, FORMATURA ETC.</p>

            </div>
          </div>
        </div>
        <div class="flex align-items-center w-5" style="height: inherit;">
          <div class="inline-block mr-1">
            <img src="../../assets/img/home-2.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
