h3, h4 {
  font-family: Outfit;
}

.white-border{
  border: white;
  border-width: 0.2vw;
  border-style: solid none solid none
}

.board-1-home {
  height: 14vw;
}

.board-2-home{
  height: 27vw;
}

.huge-text{
  font-size: 4vw;
  font-weight: bolder;
  text-align: left;
  line-height: 1.1;
}


.not-so-huge-text{
  font-size: 1vw;
  font-weight: bolder;
  text-align: left;
  letter-spacing: .1em;
}

.cta{
  font-size: 1.8vw;
  font-weight: bolder;
  text-align: left;
  letter-spacing: .1em;
    font-family: Outfit;
  }
