<div class="">
  <div
    class="footer-height board-2-home bg-blue white-border text-white flex flex-wrap align-items-center justify-content-center mt-1">
    <div class="text-white w-8 bg-blue">

      <div class="bg-blue">
        <div class="flex justify-content-between flex-wrap">
          <div class="flex align-items-center col-3 h-4rem ">

            <a href="#">
              <h4> fotografo.com.vc</h4>
            </a>

          </div>
          <div class="flex align-items-center justify-content-center col-3 h-4rem ">


            <div class="col-12 bg-blue">
              <div>
                <div class="block text-center border-round">
                  <p> Copyright 2023 © fotografo.com.vc </p>
                </div>
                <div class="block text-center border-round">
                  <p> made with love and coffee </p>
                </div>
              </div>
            </div>

          </div>
          <div class="flex align-items-center justify-content-end col-3 h-4rem">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>